images/barcodes/*
images/persons/*
images/docs/*
images/labels/*
files/*
repository/*
config/*
cache/*
.DS_Store
._.*
._*
.project
slims8_akasia.sublime-project
slims8_akasia.sublime-workspace
.idea/*